*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.2rem;
}
.section-title{
    font-size: 3rem;
}
#main{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo{
    font-weight: 800;
    font-size: 1.5rem;
}
.nav-item{
    margin: 0 10px;
    
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
/*--------banner------*/

#banner{
    background-image:  linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}
.header-info{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 80px;
}
.btn{
    margin: 20px;
}
.img{
    width: 250px;
    margin-bottom: 20px;
}

/*--------service------*/

#service{
    background: #f8f9fa;
    padding-bottom:50px ;
    padding-top: 50px;
}
.service-title{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 7%;
}
.section-title li{
    font-weight: 400;
}
.chart{
    margin-left: 100px;
    margin-top: 50px;
    width: 400px;
    height: 300px;
}

/*--------package------*/

#package{
    margin-top: 100px;
    padding: 100px o;

}
.section-title{
    margin-bottom: 100px;
}
.card{
    box-shadow: 0px 3px 63px -12px rgba(0,0,0,.75);
    border-color: #5f1782;
    border-radius: 10px;
}
.card-body{
    padding: 7% 0;
}
.card-body img{
    width: 300px;
    margin-bottom: 50px;
    border-radius: 25px;
}
.pricing-text{
    color: #5f1782;
    font-size: 1.5rem;
    font-weight: bold;
}
.btn{
    margin-left: 80px;
    width: 200px;
}
/*--------reviwe------*/

#reviwe{
    background-color: #5f1782;
    margin-top: 100px;
    padding: 80px o;
}
.carousel-item{
    padding: 7% 15%;
}
.carousel-item img{
    width: 100px;
    height: 100px;
    border-radius: 40px;
}
.user{
    display: inline-block;
    font-size: 1rem;
}

/*--------contact------*/

#Contact{
    background: #f8f9fa;
    padding: 100px o;
    height: 20vh;

}
#Contact p{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
}
.social-icons ul{
    position: absolute;
    left: 50%;
    padding: 0;
    margin-top: 25px;
    transform: translate(-50%,-50%);
    display: flex;
}
.social-icons ul li{
    list-style: none;
    margin: 0 15px;
}
.social-icons ul li .fa{
    font-size: 2rem;
    line-height: 60px;
    transition: .6s;
    color: black;
}
.social-icons ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-icons ul li a:hover{
    transform:translate(0,-10px);
}
.social-icons ul li .fa:hover{
    background-color: white;
}

/*--------footer------*/

footer{
    background: rgba(0,0,0,.85);
    overflow-x: hidden;
    padding: 7% 5%;
}
footer p>span{
    color: #a517ba;
}
footer input{
    border: none!important;
}
footer input::placeholder{
    color: #fff!important;

}









